@use '../mixins' as *;

/* About */
.about {
    padding: 60px 0;
    background: var(--color-secondary);

    .about-inner {
        display: grid;
        grid-template-columns: 1fr 40%;
        gap: 30px;
        align-items: center;

        @include tablet {
            grid-template-columns: 1fr 30%;
        }

        @include mobile {
            grid-template-columns: 1fr;
        }

    }

    img {
        width: 100%;
        border-radius: 10px;
    }

}
