@use '../mixins' as *;

/* Footer */
.site-footer {
    padding: 22px 0;
    text-align: center;
    font-size: 0.9rem;
    color: var(--muted);
    background-color: var(--color-bg-footer);
}


 .site-footer {
  background: var(--color-bg-footer, #e8e8e8);
  color: #353535;
  padding: 60px 20px 20px;
  font-size: 15px;

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
  }

  .footer-logo img {
    max-width: 180px;
    margin-bottom: 20px;
  }

  .footer-address p {
    margin: 0 0 8px;
  }

  .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 6px;
    }
  }

  .social-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;

    li a {
      display: inline-flex;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background: var(--brand-color);
      transition: 0.3s;

      &:hover {
        svg {
          color: #000;
        }
      }

      svg, img {
        width: 18px;
        height: 18px;
        fill: #fff;
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
  }
}
