@use '../mixins' as *;
// Header styles
header.site-header {
    background: var(--color-bg-header);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}

.site-logo img {
    max-height: 70px;
    width: auto;
}


nav.main-nav {
    ul {
        display: flex;
        gap: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: var(--text-color);
    }
}
