@use '../mixins' as *;

/* Process section */
.process-section {
    text-align: center;
    padding: 100px 20px;
    background-image: url(./assets/img/background-numbers.webp);
    background-color: var(--color-secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .section-title {
        margin-bottom: 10px;
    }

    .section-desc {
        font-size: 1.1rem;
        color: var(--text-color);
        margin-bottom: 60px;
    }

    .process-steps {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
    }

    .process-step {
        position: relative;
        flex: 1 1 260px;
        max-width: 320px;
        padding: 20px;
        text-align: center;

        .step-num {
            font-size: 3rem;
            font-weight: 600;
            color: var(--brand-color, #000000);
            margin-bottom: 15px;
            position: relative;
            z-index: 2;
        }

        .step-title {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        .step-desc {
            font-size: 1rem;
            color: var(--text-color);
            line-height: 1.5;
        }

        .process-arrow {
            position: absolute;
            top: 40px;
            right: -59px;
            width: 100px;
            height: auto;
            transition: transform 0.3s ease;

            svg {
                max-width: 100%;
                height: auto;

                path {
                    fill: var(--brand-color, #000000);
                }
            }

        }

        &:last-child .process-arrow {
            display: none;
        }
    }

    @include mobile {
        .process-steps {
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }

        .process-step {
            .process-arrow {
                position: absolute;
                top: auto;
                bottom: -50px;
                right: 50%;
                transform: translateX(50%) rotate(90deg);
            }
        }
    }
}

