@use '../mixins' as *;
/* Services */
.services {
    padding: 60px 0;

    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 18px;
    }

    .service {
        &-wrapper {
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            background: #fff;
            display: flex;


            h3 {
                margin-top: 0;
            }
        }

        &-img {
            height: 100%;
            width: 200px;
            min-width: 200px;
            border-radius: 1rem 0 0 1rem;
            position: relative;

            &:before {
                content: "";
                background: linear-gradient(92deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.9) 100%);
                opacity: 1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                object-position: center center;
                object-fit: cover;
            }
        }

        &-text {
            padding: 20px;
        }
    }
}
